@import '../../../../../shared/application/theme/colors.scss';
@import '../../../../../shared/application/theme/fonts.scss';

.delivery-details-container {
	display: flex;
	flex-direction: column;
	row-gap: 4px;

	> .title {
		@extend .font-title;
		font-size: 1.6rem;
		font-weight: 600;
		margin-bottom: 4px;
	}

	> .address,
	> .city {
		@extend .color-neutral;
		font-size: 1.4rem;
		font-weight: 400;
	}
	@include x-large-view {
		width: 50%;
		align-self: center;
	}
}
