@import '../../../../../../shared/application/theme/colors.scss';

.form-credit-card-container {
	display: flex;
	flex-direction: column;
	gap: 14px;
	margin-top: 1rem;

	> .title-form {
		@extend .color-primary;
		font-weight: 500;
		margin-bottom: 12px;

		@include x-large-view {
			font-size: 2.5rem;
		}
	}

	> .form-button-container {
		align-self: center;
		margin-top: 15px;
		width: 70%;

		.text-button {
			font-size: 1.4rem;
			font-weight: 500;
		}
		@include x-large-view {
			width: 20%;
		}
	}
}
