@import 'mixins';

$primary: #a10807;
$secondary: #000000;
$error: $primary;
$white: #ffffff;
$neutral: #928b8b;

$fontColor: $secondary;
$bgBody: $white;

@include key-value-color('color', 'color');
@include key-value-color('bg', 'background-color');
@include key-value-color('border', 'border-color');
